<h1>Stylists</h1>



<% if @stylists.any?() %>
  <h3>Here are your stylists:</h3>

  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id()%>"><%= stylist.first_name() %> <%= stylist.last_name() %></a></li>
    <% end %>
  </ul>

<% else %>

    <p>There are no stylists yet!</p>

<% end %>

<a href="/stylists/new">Add A Stylist</a>
<br>
<a href="/">Back</a>
